# Local package resource list for APT goes here.
# To inspect package defined part, see /etc/apt/sources.list.d/*.list

rpm http://{{ mirror_server }}/mirror ALTLinux/c7/x86_64 classic
rpm http://{{ mirror_server }}/mirror ALTLinux/c7/noarch classic
rpm http://{{ mirror_server }}/mirror ALTLinux/zabbix/x86_64 zbx
rpm http://{{ mirror_server }}/mirror ALTLinux/zabbix/noarch zbx
rpm http://{{ mirror_server }}/mirror ALTLinux/pgpro/x86_64 pgpro
rpm http://{{ mirror_server }}/mirror ALTLinux/pgpro/noarch pgpro
rpm http://{{ mirror_server }}/mirror ALTLinux/pacemaker/i586 pacemaker
rpm http://{{ mirror_server }}/mirror ALTLinux/pacemaker/x86_64-i586 pacemaker
rpm http://{{ mirror_server }}/mirror ALTLinux/pacemaker/x86_64 pacemaker
